<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GaleriaFotos</title>
    <link rel="stylesheet" href="resources/css/galeria.css" />
  </head>
  <body background="https://png.pngtree.com/background/20220714/original/pngtree-aesthetically-cute-green-background-with-small-plants-on-the-side-picture-image_1606427.jpg">
    <!-- NavBar -->
    <header>
      <div class="logo">HeyVos</div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <li>
            <a href="home">Home</a>
          </li>
          <li>
            <a href="calendario">Calendario</a>
          </li>
          <li>
            <a href="contador">Cuenta regresiva</a>
          </li>
          <li>
            <a href="galeria" class="active">Galeria</a>
          </li>
          <li>
            <a href="cuidados">Cuidados</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Fotos de los eventos</h1>
    <span class="linea"></span>
    <section class="galeria">
      <!-- Ejemploooooosss -->
      <!-- <a href="#image">
        <img src="resources/img/foto.jpg" alt="">
      </a> -->
      <a href="#image1"
        ><img
          src="https://elinsular.cl/wp-content/uploads/2022/09/Invitar-a-postular-al-Fondo-de-Proteccion-Ambiental-780x470.jpg"
          alt=""
      /></a>

      <a href="#image2"
        ><img
          src="https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/main/img_20220615_090343.jpg"
          alt=""
      /></a>

      <a href="#image3"
        ><img
          src="https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/gallery/img_20220615_090052.jpg"
          alt=""
      /></a>

      <a href="#image4"
        ><img
          src="https://img.freepik.com/foto-gratis/gente-plantando-arboles-campo_23-2149401241.jpg"
          alt=""
      /></a>

      <a href="#image5"
        ><img
          src="https://www.ecoportal.net/wp-content/uploads/2020/12/plantar-arbol.jpg"
          alt=""
      /></a>

      <a href="#image6"
        ><img
          src="https://ichef.bbci.co.uk/news/640/cpsprodpb/81E7/production/_107755233_gettyimages-668218230.jpg"
          alt=""
      /></a>
    </section>

    <article class="light-box" id="image1">
      <a href="#image6" class="next">←</a>
      <img
        src="https://elinsular.cl/wp-content/uploads/2022/09/Invitar-a-postular-al-Fondo-de-Proteccion-Ambiental-780x470.jpg"
        alt=""
      />
      <a href="#image2" class="next">→</a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="image2">
      <a href="#image1" class="next">←</a>
      <img
        src="https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/main/img_20220615_090343.jpg"
        alt=""
      />
      <a href="#image3" class="next">→</a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="image3">
      <a href="#image2" class="next">←</a>
      <img
        src="https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/gallery/img_20220615_090052.jpg"
        alt=""
      />
      <a href="#image4" class="next">→</a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="image4">
      <a href="#image3" class="next">←</a>
      <img
        src="https://img.freepik.com/foto-gratis/gente-plantando-arboles-campo_23-2149401241.jpg"
        alt=""
      />
      <a href="#image5" class="next">→</a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="image5">
      <a href="#image4" class="next">←</a>
      <img
        src="https://www.ecoportal.net/wp-content/uploads/2020/12/plantar-arbol.jpg"
        alt=""
      />
      <a href="#image6" class="next">→</a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="image6">
      <a href="#image5" class="next">←</a>
      <img
        src="https://ichef.bbci.co.uk/news/640/cpsprodpb/81E7/production/_107755233_gettyimages-668218230.jpg"
        alt=""
      />
      <a href="#image1" class="next">→</a>
      <a href="#" class="close">X</a>
    </article>

    <script>
      let hamburger = document.querySelector(".hamburger");

      hamburger.onclick = function () {
        let navBar = document.querySelector(".nav-bar");
        navBar.classList.toggle("active");
      };
    </script>
  </body>
</html>
