@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* background-color: mediumslateblue; */
  background-image: url("https://png.pngtree.com/background/20220714/original/pngtree-aesthetically-cute-green-background-with-small-plants-on-the-side-picture-image_1606427.jpg");
  padding: 20px;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
  color: white;
  margin-top: 160px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

/* Barra de navegacion */
header {
  width: 100%;
  height: 90px;
  /* background: #fefefe; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  display: block;
  color: #cccccc;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #cccccc;
  background: #fefefe;
}

.nav-bar ul li a.active {
  color: #cccccc;
  background: #fefefe;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #cccccc;
    margin: 6px 0;
  }

  .nav-bar {
    height: 450px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #fefefe;
    transition: 0.2s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 10px;
}

.container {
  width: 800px;
  height: 500px;
  background-color: transparent;
  border-radius: 20px;
  /* box-shadow: 0px 3px 22px 1px rgba(0,0,0,0.75); */
  text-align: center;
  position: absolute;
  z-index: -1;
  opacity: 100%;
  margin-top: 80px;
  opacity: 0%;
  border: 2px solid white;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
